.checkout-container {
  padding: 20px;
  background-color: #f7f7ff;
}

.menu-header-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f7f7ff;
  margin-bottom: 20px;
}

.botao-header-voltar {
  background-color: #f7f7ff;
}

.botao-header-pedido {
  background-color: #3cba92;
  border: none;
  color: #fff;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.5s ease;
  font-family: Lato;
  font-weight: 700;
}

.botao-header-pedido:hover {
  background-color: #2a9976;
}

.checkout-main {
  display: flex;
  justify-content: space-between;
}

.checkout-details {
  flex: 1;
  margin-right: 20px;
}

.checkout-summary {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
}

.checkout-section {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  margin-top: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.checkout-section h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  margin-top: 0;
}

.checkout-section p {
  margin-bottom: 10px;
  font-size: 14px;
}

.checkout-section label {
  display: block;
  margin-bottom: 5px;
}

.checkout-section select,
.checkout-section input,
.checkout-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.checkout-sidebar {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  padding: 10px;
}

.checkout-sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  margin-top: 0;
}

.checkout-sidebar p {
  margin-bottom: 10px;
}

.titles-checkout {
  border-bottom: 1px solid #999c9b;
}

.checkout-sidebar-header {
  border-bottom: 1px solid #999c9b;
}

.submit-order {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.submit-order:hover {
  background-color: #45a049;
}
