.products-page {
  display: flex;
  background-color: #f7f7ff;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.sidebar {
  width: 250px;
  padding: 20px;
  border-left: 1px solid #ddd;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.search-bar {
  flex: 1;
  padding: 10px 20px;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition:
    border 0.3s,
    box-shadow 0.3s;
}

.search-bar::placeholder {
  color: #aaa;
}

.search-bar:focus {
  border: 1px solid #560d68;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

.sort-label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.order-select,
.display-select {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-option {
  color: #301b2c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter-group label {
  display: block;
  margin-bottom: 10px;
}

.filterHeader {
  color: #5b127d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sort-label-second {
  margin-left: 5px;
}
