.products-page {
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  flex: 1;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filters {
  display: flex;
}

.order-select,
.display-select {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product-item-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.product-item-details {
  flex: 1;
}

.product-item-name {
  font-size: 1.5em;
  margin: 0;
}

.product-item-price {
  margin: 5px 0;
  font-size: 1.2em;
}

.add-button,
.remove-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.add-button:hover,
.remove-button:hover {
  background-color: #0056b3;
}
