.promotions-container {
  padding: 20px;
  background-color: #f9f9f9; /* Ajuste conforme necessário */
}

.promotions-header {
  color: #333; /* Ajuste conforme necessário */
  text-align: center;
  margin-bottom: 20px;
}

.promotions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.promotion-item {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.promotion-item:hover {
  transform: translateY(-5px);
}

.promotion-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.promotion-description {
  color: #666;
}
