.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 2px solid #3cba92;
  height: 64px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 80px;
  height: auto;
}

.icons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.cart-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.cart-icon {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: -20px;
}

.cart-icon img {
  width: 24px;
  height: auto;
  margin-right: 5px;
}

.cart-value {
  font-weight: bold;
}

.cart-minimum {
  font-size: 0.8em;
  color: #888;
  white-space: nowrap;
  margin-left: 10px;
}

.user-icon img {
  width: 24px;
  height: auto;
}

.userName {
  margin-top: -10px;
}
