.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-color: #fff;
  height: auto;
  padding: 10px;
}

.product-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-item-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinhamento à esquerda */
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.product-item-body {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}

.product-item-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.product-item-details {
  display: flex;
  justify-content: space-between; /* Distribui os detalhes horizontalmente */
  align-items: center;
  width: 100%;
}

.product-item-detail {
  display: flex;
  flex-direction: column;
}

.product-item-value,
.product-item-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-item-name {
  color: #301b2c;
  font-size: 18px;
  font-weight: 700;
}

.product-item-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.code-product {
  color: white;
  font-size: 12px;
}

.quantity-button-minus,
.quantity-button {
  background-color: #3cba92;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1em;
}

.quantity-button-minus {
  background-color: #db1f1f;
}

.quantity-button-minus:hover {
  background-color: #860c0c;
}

.quantity-button:hover {
  background-color: #00b35f;
}

.product-quantity {
  margin: 0 10px;
  font-size: 1.2em;
}

.product-item-maker {
  color: #301b2c;
  font-family: Lato;
  font-size: 10px;
  font-weight: 700;
}

.baloon-sku {
  background-color: #301b2c;
  border-radius: 25px;
  padding: 5px 10px;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.baloon-sku p {
  margin: 0;
}

.balloon {
  background-color: #ebebff;
  border-radius: 25px;
  padding: 5px 10px;
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.balloon p {
  margin: 0;
}

.barcode-logo,
.info-logo {
  width: 24px;
  height: auto;
}

.delete-icon {
  cursor: pointer;
  width: 24px;
  height: auto;
  margin-left: 10px;
}

.footer-button {
  background-color: #ebebff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 25px;
  color: #301b2c;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.maker-button {
  background-color: #ebebff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 25px;
  color: #301b2c;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-button:hover {
  background-color: #c0c0c0;
}

.label {
  font-weight: bold;
}
