.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.product-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  width: 808px;
  height: 234px;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 25px;
}

.product-item-header {
  text-align: start;
}

.product-item-image {
  width: 100%;
  height: auto;
  margin-right: 20px;
  max-width: 100%;
  object-fit: cover;
}

.product-item-details {
  flex: 1;
  display: flex;
  margin-bottom: 10px;
}

.product-item-name {
  font-size: 1.5em;
  margin: 0;
  text-align: start;
}

.product-item-price {
  margin: 5px 0;
  font-size: 1.2em;
}

.product-item-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.quantity-button-minus {
  background-color: #db1f1f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1em;
}

.quantity-button {
  background-color: #3cba92;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1em;
}

.quantity-button-minus:hover {
  background-color: #860c0c;
}

.quantity-button:hover {
  background-color: #00b35f;
}

.product-quantity {
  margin: 0 10px;
  font-size: 1.2em;
}
